// ------------------------------------------------------------------
// tools > variables
// ------------------------------------------------------------------

// breakpoints
// ------------------------------------------------------------------
// these are used in the 'tools/_respond.scss' file
$bp-xs: 320px;
$bp-s: 576px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;
$bp-xxl: 1600px;

// typography
// ------------------------------------------------------------------
$font-1: "Helvetica", "Arial", sans-serif;
$font-2: "Georgia", serif;
$font-basesize: 15px;

// color palette
// ------------------------------------------------------------------
$color-dark: #080f1e;
$color-lightgray: #f0f0f0;
$color-blue: #365cf6;
$color-red: #dd3f48;
$color-green: #349b30;
$color-orange: #e66e49;
$color-yellow: #f5c242;
$color-muted: #7a7979;
