// ------------------------------------------------------------------
// tools > variables
// ------------------------------------------------------------------
// standard sizes
// ------------------------------------------------------------------
$sizes: (
  "s": 0.75rem,
  "m": 1.5rem,
  "l": 2.25rem,
  "xl": 3rem,
  "xxl": 6rem,
);

// breakpoints
// ------------------------------------------------------------------
// these are used in the 'tools/_respond.scss' file
$bp-xs: 320px;
$bp-s: 576px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;
$bp-xxl: 1600px;

// typography
// ------------------------------------------------------------------
$font-1: "Work Sans", "Helvetica", "Arial", sans-serif;
$font-2: "Georgia", serif;
$font-basesize: 15px;
