// ------------------------------------------------------------------
// utils > whitespace
// ------------------------------------------------------------------
// use common whitespace sizes found in tools/_variables.scss

// margin
// ------------------------------------------------------------------
// margin-top
@each $size, $rem in $sizes {
  .mt-#{$size} {
    margin-top: $rem;
  }
}

// margin-right
@each $size, $rem in $sizes {
  .mr-#{$size} {
    margin-right: $rem;
  }
}

// margin-bottom
@each $size, $rem in $sizes {
  .mb-#{$size} {
    margin-bottom: $rem;
  }
}

// margin-left
@each $size, $rem in $sizes {
  .ml-#{$size} {
    margin-left: $rem;
  }
}

// margin-top and margin-bottom
@each $size, $rem in $sizes {
  .my-#{$size} {
    margin-top: $rem;
    margin-bottom: $rem;
  }
}

// margin-right and margin-left
@each $size, $rem in $sizes {
  .my-#{$size} {
    margin-right: $rem;
    margin-left: $rem;
  }
}

// padding
// ------------------------------------------------------------------
// padding-top
@each $size, $rem in $sizes {
  .pt-#{$size} {
    padding-top: $rem;
  }
}

// paddig-right
@each $size, $rem in $sizes {
  .pr-#{$size} {
    padding-right: $rem;
  }
}

// padding-bottom
@each $size, $rem in $sizes {
  .pb-#{$size} {
    padding-bottom: $rem;
  }
}

// paddig-left
@each $size, $rem in $sizes {
  .pl-#{$size} {
    padding-left: $rem;
  }
}

// paddig-top and padding-botton
@each $size, $rem in $sizes {
  .py-#{$size} {
    padding-top: $rem;
    padding-bottom: $rem;
  }
}

// paddig-left and padding-right
@each $size, $rem in $sizes {
  .px-#{$size} {
    padding-left: $rem;
    padding-right: $rem;
  }
}
