// ------------------------------------------------------------------
// seeds > multimedia
// ------------------------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}

figure {
  max-width: 100%;
  height: auto;
}
