// ------------------------------------------------------------------
// seeds > tables
// ------------------------------------------------------------------

table {
  width: 100%;
  border: 10px solid white;
  border-collapse: collapse;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

td {
  padding: 0.75em 0.75em;
}

td:first-child {
  font-weight: 500;
  text-align: left;
  padding-right: 1.5em;
}
