// ------------------------------------------------------------------
// seeds > typography
// ------------------------------------------------------------------

// sections
// ------------------------------------------------------------------
html {
  font-family: $font-1;
  font-size: $font-basesize;
  font-weight: 500;
  letter-spacing: 0.04375em;
}

body {
  font-size: 1rem;
  font-weight: inherit;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-1;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

// grouping
// ------------------------------------------------------------------
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

// text-level
// ------------------------------------------------------------------
b,
strong {
  font-weight: 600;
}

em {
  font-style: italic;
  font-family: $font-2;
  font-weight: 500;
}

// anchors
a {
  color: blue;
  text-decoration: none;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

::selection {
  color: white;
  background: darken(blue, 10%);
}
